

* {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  color: black;
}



.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 10px 5px 5px gray;
  background-color: whitesmoke;

}

.navbar h1 {
  color: blue;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 20px;
  color: gray;
  
 
}

.navbar a:hover {
  color: white;
  background-color: blue;
  border-radius: 25%;
}

.content {
  max-width: auto;
  margin: 40px auto;
  padding: 20px;
}


/* blog previews / list */

.blog-preview {
  padding: 10px 16p;
  margin: 20px 0;
  border: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px gray;
}

.blog-preview h2 {
  font-size: 20px;
  color: blue;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */

.blog-details h2 {
  font-size: 20px;
  color: blue;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: red;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */

.create {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: blue;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: blue;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}